*.rar
*.zip

**/fontawesome-free-5.5.0-web/svgs
**/fontawesome-free-5.5.0-web/scss
**/fontawesome-free-5.5.0-web/less
**/fontawesome-free-5.5.0-web/metadata
**/fontawesome-free-5.5.0-web/sprites
**/fontawesome-free-5.5.0-web/js
**/fontawesome-free-5.5.0-web/LICENSE.txt







